/* Startup */

html, body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #6c6f73;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

h6 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

img {
	max-width: 100%;
}

.blockquote {
	font-size: 1.6rem;
	color: #333;
	border: none;
	padding: 0;
}

.blockquote-footer {
	margin: 1rem 0 0;
}

#stage {
	background: url('img/stage.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#stage-caption {
	font-size: 1.4em;
	font-weight: 200;
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;
}

#stage-caption h1 {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

section {
	padding: 5em 0;
	overflow: hidden;
}

section img {
	margin-bottom: -5rem;
}

.feature-dark {
	background: #262F36;
	color: white;
}

.feature-dark h2, .feature-dark h6 {
	color: white;
}

.feature-alt {
	background: #f0f0f0;
	
}

#feature-four {
	padding: 0;
}

#feature-five img {
	margin-top: 2rem;
}

#main-footer {
	background: #262F36;
	color: white;
	padding: 6rem 0;
	font-size: 0.8rem;
}

#main-footer h6 {
	color: #718FA9;
}

#main-footer a {
	color: #6C6F73;
}

@media screen and (min-width: 991px) {
	section .row {
		display: flex;
		align-items: center;
	}
}