/* Extra styles to make my version of bootstrap match the tutorial */

/* Should be in Bootstrap, but for some reason, isnt */
.form-inline .form-control {
	margin-right: 5px;
}

html, body {
	height: 100%;
	scroll-behavior: smooth;
}
img {
	max-width: 100%;
}

/* Cover */
#cover {
	background: #222 url('img/stars.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}

#cover-caption {
	width: 100%;
}

/* Carousel */
.carousel-inner .carousel-item{
	width: 100%;
	height: 50vh;
	background-size: cover !important;
}
.carousel-inner .img1 {
	background: url('img/woman-camera.jpg') no-repeat center center fixed;
}
.carousel-inner .img2 {
	background: url('img/spiderweb.jpg') no-repeat center center fixed;
}
.carousel-inner .img3 {
	background: url('img/hearthand.jpg') no-repeat center center fixed;
}

/* Cards */	
.section-content {
	padding: 5rem 0;
}

/* About */
#about {
	background: url('img/girlincar.jpg') center center no-repeat;
	background-size: cover;
}
.about-text {
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 1.875rem;
}

/* Footer  */
#footer-main {
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
}

