// 1 - Load project variables.
// 2 - Load bootstrap sass files.
// 3 - Load custom app sass files.

// --------------------------------------------------------
//  Import in the default bootstrap variables.
//  Then override bootstrap default with project specific values.
// --------------------------------------------------------

@import "../source/scss/variables";
@import "variables";

// --------------------------------------------------------
// Import required bootstrap sass files needed for this project.
// Uncomment any bootstrap functionality required for this project.
// The idea is to keep this as small as possible.
// --------------------------------------------------------*/

/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */

@import "../source/scss/mixins";



/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */

@import "../source/scss/normalize";
@import "../source/scss/print";



/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */

@import "../source/scss/reboot";
@import "../source/scss/type";
//@import "../source/scss/images";
//@import "../source/scss/code";
@import "../source/scss/grid";
//@import "../source/scss/tables";
//@import "../source/scss/forms";
@import "../source/scss/buttons";



/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */

//@import "../source/scss/animation";
@import "../source/scss/dropdown";
//@import "../source/scss/button-group";
//@import "../source/scss/input-group";
//@import "../source/scss/custom-forms";
@import "../source/scss/nav";
@import "../source/scss/navbar";
@import "../source/scss/card";
//@import "../source/scss/breadcrumb";
//@import "../source/scss/pagination";
//@import "../source/scss/pager";
//@import "../source/scss/labels";
//@import "../source/scss/jumbotron";
//@import "../source/scss/alert";
//@import "../source/scss/progress";
//@import "../source/scss/media";
//@import "../source/scss/list-group";
//@import "../source/scss/responsive-embed";
//@import "../source/scss/close";



/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */

//@import "../source/scss/modal";
//@import "../source/scss/tooltip";
//@import "../source/scss/popover";
//@import "../source/scss/carousel";



/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */

@import "../source/scss/utilities";


/* --------------------------------------------------------
   Custom application specific styles
   -------------------------------------------------------- */

@import "base";